@use 'sass:color';

$palette-primary: #009ad6 !default;
$palette-secondary: #44839c !default;
$palette-accent: #005eeb !default;
$palette-pale: #ebecec !default;
$palette-dark: #3a415f !default;

$palette-dark-tint-half: transparentize($palette-dark, 0.9) !default;
$palette-primary-tint-quarter: transparentize($palette-primary, 0.9) !default;
$palette-secondary-tint-quarter: transparentize(
  $palette-secondary,
  0.9
) !default;

:export {
  palettePrimary: $palette-primary;
  palettePale: $palette-pale;
  paletteDark: $palette-dark;
  paletteSecondary: $palette-secondary;
  paletteAccent: $palette-accent;
  darkTintHalf: $palette-dark-tint-half;
  primaryTintQuarter: $palette-primary-tint-quarter;
  secondaryTintQuarter: $palette-primary-tint-quarter;
}
